<%= render :partial => "layouts/admin_header" %>
<h1>Listing attachments</h1>

<table class='table'>
  <tr>
    <th>File</th>
    <th>Note</th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.attached_file.blank? ? "None" : attachment.attached_file_file_name %></td>
    <td><%= attachment.note %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
