= render :partial => "layouts/admin_header"
%h1
  Listing users

%table.table
  %tr
    %th
      Email
    %th
      Role
    %th
      Admin
    %th
    %th
  - @users.each do |u|
    %tr
      %td
        = u.email
      %td
        = u.label
      %td
        = u.admin?
      %td
        = link_to "Edit", edit_user_path(u)
      %td
        = link_to "Destroy", u, method: :delete, data: {confirm: "Are you sure?"}
