.navbar
  %a.navbar-brand{:href => root_path}
    Website
  %ul.nav.navbar-nav
    %li
      = link_to "Admin path", admin_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Page Content
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", contents_path
        %li
          = link_to "New", new_content_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        FAQ Content
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", questions_path
        %li
          = link_to "New Question", new_question_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        About Content
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", about_sections_path
        %li
          = link_to "New Section", new_about_section_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        News Content
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", posts_path
        %li
          = link_to "New Post", new_post_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Events
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", events_path
        %li
          = link_to "New Event", new_event_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Attachments
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", attachments_path
        %li
          = link_to "New File", new_attachment_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Contacts
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", contacts_path
        %li
          = link_to "New Contact", new_contact_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Judges
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", judges_path
        %li
          = link_to "New Judge", new_judge_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        Mentors
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Manage", mentors_path
        %li
          = link_to "New Mentor", new_mentor_path
        
    -#
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
          Dropdown on Click
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Location", "#"
          %li.divider
          %li.dropdown-submenu
            %a{:tabindex => "-1", :href => "#"}
              Submenu
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:tabindex => "-1", :href => "#"}
                  Submenu Item
              %li
                %a{:tabindex => "-1", :href => "#"}
                  Submenu Item
              %li.dropdown-submenu
                %a{:href => "#"}
                  Sub-submenu
                %ul.dropdown-menu
                  %li
                    = link_to "Sub-submenu Item", "#"
                  %li
                    = link_to "Sub-submenu Item 2", "#"
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        %span.normal-text
          Logged in as
        %span#username
          = current_user.blank? ? "Guest" : current_user.email
        %b.caret
      %ul.dropdown-menu
        - if current_user
          %li
            %a{:class => "logout", :href => "/logout"}
              Log out
          %li
            %a{:class => "logout", :href => administration_account_settings_path}
              Settings
        - else
          %li
            %a{:class => "logout", :href => "/login"}
              Log in